html {
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    position: relative;
    background-color: #292A23;
}
.app{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.nav-wrapper{
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 20;
    padding: 20px;
    top: 0;
    box-sizing: border-box;
    span{
        max-width: 36px;
        width: auto;
        position: relative;
        display: block;
    }
}
.logo {
    margin-right: auto;
}

.icon-nav-container {
    margin-left: auto;
}
.section{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100vh;
}
.section-name{
    transition: opacity 1s ease-in-out;
    transition: all 1s;
    font-size: 48px;
    color: white;
}
.img-welcome{
    background-image: url('/HERO.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}
.text-wrapper{
    display: flex;
    position: absolute;
    right: 20px;
    height: 100%;
    align-items: center;
}
.welcome{
    h2{
        font-size: 64px;
        text-align: center;
        right: 20px;
        color: white;
    }
    h3{
        color: white;
        display: inline-block;
        position: absolute;
        bottom: 5%;
        left: 20px;
        font-size: 42px;
    }
}
.catalog{
    display: flex;
    justify-content: center;
}
.card{
    width: 370px;
    height: 370px;
    border-radius: 20px;
    img{
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }
}
.card-bottom{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.card-wrapper{
    opacity: 0;
    z-index: 10;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    transition: all 1s ease-in-out;
}
.arrow-left{
    margin-right: auto;
    svg{
        padding-right: 2px;
    }
}
.arrow-right{
    margin-left: auto;
    svg{
        padding-left: 2px;
    }
}
.arrow-left,.arrow-right{
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.section-bg{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;

}
.about{
    background: rgb(94,94,94);
    background: radial-gradient(circle, rgba(94,94,94,1) 80%, rgba(41,42,35,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-text{
    color: white;
    font-size: 2vw;
    text-align: center;
    position: absolute; 
}
.contact{
    display: grid;
    grid-template-columns: 50% 50%;
}
.img-contact{
    background-image: url('/Model.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
    padding: 20px;
    background-color: #D9C29D;
    h3{
        font-size: 42px;
        color: white;
        text-align: center;
    }
    input,textarea{
        background-color: #D9C29D;
        border-left:0;
        border-right:0;
        border-top: 0;
        font-size: 24px;
        width: 100%;
    }
    input::placeholder{
        font-family: 'Times New Roman', Times, serif;
        color: black;
    }
    input:focus,input:focus-visible,input:focus-within{
        border-left:0;
        border-right:0;
        border-top: 0;
        outline: none;
    }
}
.emai-name-inputs-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.textarea-contect-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    justify-content: space-between;
    textarea{
        border-color: black;
        outline: none;
        height: 100%;
        resize: none;
    }
    label{
        font-size: 24px;
        font-weight: 500;
    }
}
.submit-btn{
    max-width: 400px;
    min-width: 250px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid white;
    text-align: center;
}
.btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes opacityTranslateAnim{
    from {opacity: 0;transform: translateY(50px);}
    to {opacity: 1;transform: translateY(0);}
}
@keyframes opacityAnim{
    from {opacity: 0;}
    to {opacity: 1;}
}
.fade-in{
    animation-name: opacityAnim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.fade-in-card{
    opacity: 1;
}
.stuck{
 scroll-snap-align: start;
}
.opacity-translate-anim{
    animation-name: opacityTranslateAnim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes strokeAnim {
    from {stroke-dashoffset: ---length;}
    to {stroke-dashoffset: 0;}
}
.animate-stroke{
    animation-name: strokeAnim;
    animation-duration: 2s;
}
#line-bg{
    opacity: 0;
}
.catalog-wrapper{
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}

@media (max-width: 800px){
    .contact{
        display: flex;
    }
    .contact-form{
        flex:auto;
        background-image: url('/Model.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        input, textarea{
            background:rgba(0,0,0,0);
            color: white;
            border-bottom: 1px solid black;
        }
        input::placeholder, label{
            color: white;
        }
    }
    .img-contact{
        display: none;
    }
    .logo svg{
        width: 50px;
        height: 50px;
    }
    .section-name{
        font-size: 32px;
    }
    .text-wrapper{
        height: 70%;
    }
    .welcome h3{
        font-size: 21px !important;
        bottom: 15%;
    }
    h2{
        font-size: 32px !important;
    }
    .about-text{
        word-wrap: break-word;
        margin: 0 10px 0 10px;
        font-size: 12px !important;
    }
}
@media (max-width: 550px){
    .card{
        width: 200px;
        height: 200px;
    }
}